<div class="jombutron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Behzad Ashrafi</h1>
        <h3>Front-end Developer</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px;" class="">
        <a target="_blank">
            <img src="" alt="linkedin img" width="24" height="24" class="rounded-circle me-2">
        </a>

        <a  target="_blank">
            <img src="" alt="linkedin img" width="24" height="24" class="rounded-circle me-2">
        </a>

        <a  target="_blank">
            <img src="" alt="linkedin img" width="24" height="24 " class="rounded-circle me-2">
        </a>
    </div>
</div>