<div class="container mt-4">
    <div class="row">
        <div class="col-md-4  mb-4" *ngFor="let repo of repositories">
            <div class="card shadow text-center hvr-float-shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ repo.name }}</h5>
                    <p class="card-text">{{ repo.description }}</p>
                    <button class="btn btn-primary" (click)="openModal(repo)">View More</button>
                </div>
                <div class="card-footer">
                    <div class="d-flex flex-wrap justify-content-center">
                        <div *ngFor="let tag of repo.topics">
                            <div class="tag me-2 mb-1" [style.background-color]="getColor(tag)">{{tag}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>