<div class="modal-header">
    <h2>{{project.name}}</h2>
    <button class="btn-close" (click)="bsModalRef.hide()"></button>
</div>
<div class="modal-body">
    <carousel>
        <div *ngFor="let picture of project.pictures">
            <slide>
                <img src={{picture}} alt="first slide" style="display: block; width: 100%; height: 500px;">
            </slide>
        </div>
    </carousel>

    <h3 class="mt-3">Discription</h3>
    <p>{{project.discription}}</p>
    <p>You can finf this project on <a href={{project.projectLink}} target="_blank">GitHub</a></p>
    <hr>
    <div class="d-flex flex-wrap justify-content-center">
        <div *ngFor="let tag of project.tags">
            <div class="tag me-2 mb-1" [style.background-color]="tag.getColor()">{{tag}}</div>
        </div>
    </div>
</div>