<div class="container">
    <div class="row">
        <div class="col-lg border shadow m-1">
            <div class="text-center m-1" >
                <h2>About Me</h2>
                <img src="../../assets/profile.JPG" alt="profilePicture" class="rounded-circle">
                <p class="text-center m-2">this is aboue me section</p>
            </div>
        </div>
        <div class="col-lg border shadow m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <img src="../../assets/project1.jpg" alt="project1" class="rounded-circle">
            </div>
        </div>
    </div>
</div>